@charset "UTF-8";
/*Common*/
/* font */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2)
		format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff)
		format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf)
		format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2)
		format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff)
		format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf)
		format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2)
		format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff)
		format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf)
		format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2)
		format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff)
		format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf)
		format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2)
		format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff)
		format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf)
		format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 900;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2)
		format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff)
		format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf)
		format('opentype');
}

* {
	font-family: 'Noto Sans KR', sans-serif;
}
/*Common*/


ul {
	padding: 0px;
	margin: 0px;
}

li {
	padding: 0px;
	margin: 0px;
}

#name-tag {
	margin-left: 50px;
	margin-top: 200px;
	width: 100px;
	height: 30px;
	font-size: 20px;
	font-weight: bold;
}

.clear {
	
}

.margin {
	margin-bottom: 200px;
	margin-top: 200px;
}

.page_control a {
	color: #000000;
	text-decoration: none;
	padding: 5px;
}

.boardlist a {
	color: #000000;
	text-decoration: none;
}

.boardlist a {
	color: black;
	font: bold;
	margin: 0px 2px;
}

.boardlist a:visited {
	color: black;
	font: bold;
	margin: 0px 2px;
}

.boardlist a:hover {
	color: #56F569;
	font: bold;
	margin: 0px 2px;
}

.boardlist a:active {
	color: black;
	font: bold;
	margin: 0px 2px;
}

table {
	border-collapse: collapse;
}

.board_title {
	font-size: 30px;
	font-weight: bold;
	margin: 170px 20px 10px 10px;
	padding-left: 40px;
}

.boardlist {
	border-top: 2px solid #252525;
	width: 100%;
	height:-30px;
	margin-left: 0px;
	margin-top: 0px;
}

#bFind_wrap {
	width: 400px;
	margin-left: 0px;
	padding: 10px;
}

.page_select {
	margin-top: 10px;
	margin-right: 5px;
	float: right;
}

.search_page {
	margin: 3px;
	padding: 0px;
}

/*하단 버튼부 좌측*/
.fl_fr {
	overflow: hidden;
	display: inline-block;
	width: 100%;
	margin-top: 5px;
}

.fl {
	float: left;
	margin-left: 30px;
	display: inline-block;
}

/*하단 버튼부 우측*/
.fr {
	float: right;
	margin-right: 30px;
}

.page_control {
	margin-left: 700px;
	width: 300px;
}

.boardPage {
	position: relative;
	z-index: 1;
	margin: auto;
	background-color: white;
	display: block;
	overflow: hidden;
	padding-right: 60px;
	padding-left: 400px;
	padding-bottom: 5px;
	padding-top: 28px;
}

.boardlist th {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.boardlist td {
	border-bottom: 1px solid #cdcdcd;
}

.boardlist th, .boardlist td {
	line-height: 2rem;
	padding: 5px;
	font-size: 15px;
	text-align: center;
}

.boardListDiv {
	margin: 50px 20px 10px 10px;
	width: 100%;
}

.boardlist thread {
	display: table-header-group;
	border-collapse: collapse;
}

.boardNo {
	width: 10%;
}

.boardSubject th, .boardSubject td {
	width: 70%;
	text-align: left;
	margin-left: 80px;
}

.boardWriter {
	width: 20%;
}

.bList_count {
	width: 130px;
	margin-left: 1350px;
	margin-top: -20px;
}



.boardDate {
	width: 30%;
}

.boardView {
	width: 8%;
}

.page_control {
	margin-top: -50px;
	padding-bottom: 100px;
}

.page_control a {
	color: black;
	font: bold;
	font-size: 20px;
	margin: 0px 2px;
}

.page_control a:visited {
	color: black;
	font: bold;
	font-size: 20px;
	margin: 0px 2px;
}

.page_control a:hover {
	color: #56F569;
	font: bold;
	font-size: 20px;
	margin: 0px 2px;
}

.page_control a:active {
	color: black;
	font: bold;
	font-size: 20px;
	margin: 0px 2px;
}

/* button*/
select#search_target, select#search_page {
	height: 38px;
	width: 90px;
	font-size: 20px;
	border-color: #ccc;
}

.fl_fr input[type="button"] {
	font-size: 12px;
	border: 1px solid #ccc;
	margin-left: 6px;
	margin-right: 3px;
	padding: 10px;
	background-color: #ffffff;
	color: #000000;
	cursor: pointer;
}

.fl_fr button[type="submit"] {
	font-size: 12px;
	margin-left: 0px;
	margin-right: 6px;
	padding: 7px;
	cursor: pointer;
	background: #56F569;
	border: 0px;
	color: white;
}

form.searchForm {
	background-color: #56F569;
}

div .search_container {
	background-color: #56F569;
	height: 40px;
	padding-left: 10px;
	line-height: 40px;
	margin-left: 3px;
	float: left;
}

button .icon {
	padding: 2px;
	color: #fff;
	float: right;
	width: 40px;
	height: 40px;
	border: none;
	background-color: #56F569;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search {
	padding: 0;
	background: none;
	border: none;
	outline: none;
	color: white;
	display: inline-block;
}

/*쓰기화면 - board_write.jsp*/
.bWrite_wrap {
	padding: 20px, 10px;
	margin-top: 100px;
}

.tablebox {
	padding: 20px, 10px;
	align-items: center;
	margin: auto;
	border: none;
	overflow: hidden;
	width: 87%;
	height: 100%;
}

table .textField {
	margin-top: 10px;
	margin-right: 5px;
	padding: 5px;
	font-size: 0.8em;
	border: none;
}

.bottom_line {
	border-bottom: 1px solid #ccc;
}

table .file-upload-button {
	color: #000;
	border: 1px solid #ccc;
	background-color: #fff;
	font-size: 13px;
	line-height: 30px;
	height: 30px;
	cursor: pointer;
	padding: 5px 25px;
}

table span {
	font-size: 15px;
	padding: 0px 10px;
}

#question_file {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

table tr {
	border-bottom: 1px;
	margin: 5px;
}

table .textField {
	margin-top: 10px;
	margin-right: 5px;
	padding: 5px;
	font-size: 13px;
	border: none;
	border-bottom: 1px;
}

table td {
	padding: 4px;
	text-align: left;
}

table .bottom_line {
	
}

/*본문 */
#b_cont {
	height: 648px;
	width: 540px;
	border: none;
	resize: none;
	overflow: auto;
}

table .buttontd {
	float: right;
}

td .buttontd {
	align-items: center;
	margin: 0, auto;
}

span .board_title_1 {
	position: relative;
	width: 400px;
	height: 45px;
	font-size: 36px;
	font-weight: bold;
	text-align: left;
	right: 585px;
	top: -10px;
	margin-top: 20px;
}

div #bDel_menu {
	margin-top: 20px;
}

div #bDel_wrap {
	margin: auto;
}

.submitBtn {
	font-size: 14px;
	border: none;
	padding: 10px;
	width: 260px;
	background-color: #56F569;
	margin-bottom: 30px;
	color: #000000;
}

.CheckBtn {
	font-size: 14px;
	border: none;
	margin-left: 5px;
	margin-right: 5px;
	padding: 10px;
	width: 100px;
	background-color: #c0c0c0;
	margin-bottom: 30px;
	color: #000000;
}

#inputbtn {
	position:absolute;
	border-radius: 3px;
	padding: 5px 100px;
	color: black !important;
	display: inline-block;
	background-color: #56f569;
	border: none;
	vertical-align: middle;
	margin-left: 1250px;
	height: 40px;
	margin-top: -170px;
	text-align: center;
}

/* font */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2)
		format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff)
		format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf)
		format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2)
		format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff)
		format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf)
		format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2)
		format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff)
		format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf)
		format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2)
		format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff)
		format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf)
		format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2)
		format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff)
		format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf)
		format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 900;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2)
		format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff)
		format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf)
		format('opentype');
}

* {
	font-family: 'Noto Sans KR', sans-serif;
}

.submitBtn {
	font-size: 14px;
	border: none;
	padding: 10px;
	width: 260px;
	background-color: #56F569;
	margin-bottom: 30px;
	color: #000000;
	cursor: pointer;
}

.CheckBtn {
	font-size: 14px;
	border: none;
	margin-left: 5px;
	margin-right: 5px;
	padding: 10px;
	width: 100px;
	background-color: #c0c0c0;
	margin-bottom: 30px;
	color: #000000;
	cursor: pointer;
}

body {
	padding: 0px;
	margin: 0px;
}

.clear {
	clear: both;
	display: none;
	margin: 0 auto;
	overflow: hidden;
}

#content {
	margin: 130px 0px 0px 0px;
	padding: 0;
}

.cscenter {
	width: 1100px;
	overflow: hidden;
}

li {
	list-style: none;
}

.left_navi {
	position: relative;
	border: none;
	width: 260px;
	height: 86%;
	margin-left: 50px;
	padding-left: 5px;
	font-size: 20px;
	text-align: left;
	float: left;
	color: #1f1f1f;
}

.sub_menu {
	padding: 0px 0px 60px 0px;
}

.cscenter {
	float: left;
}

a {
	text-decoration: none;
	cursor: pointer;
}

dl {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

dd {
	margin: 15px 0px;
	line-height: 18px;
}

dd a {
	font-size: 15px;
	color: #1f1f1f;
}

/*고객센터 네비바 하단*/
ul {
	margin: 0px;
	padding: 0px;
}

.left_navi .sub_menu_bt li {
	line-height: 16px;
	font-size: 13px;
	letter-spacing: -.43px;
	font-weight: 400;
	color: #898989;
}

.left_navi .sub_menu_bt .callcenter {
	padding-bottom: 9px;
}

.left_navi .sub_menu_bt .callno {
	font: bold;
	font-size: 20px;
	padding-bottom: 9px;
}

.left_navi .sub_menu_bt {
	padding-top: 32px 0px 24px 0px;
}

/*FAQ 가로 tab_menu*/
.tab_list {
	overflow: hidden;
	padding: 0px 20px 20px 20px;
}

.tab_list li {
	color: #898989;
	float: left;
	text-align: center;
	padding: 15px;
	margin: 0px 8px;
	border: 1px solid #898989;
	cursor: pointer;
}

article h3 {
	margin: 23.4px 0px;
	font-size: 2.2em
}

.qnaForm {
	border-top: 4px solid #1f1f1f;
}

.qnaForm dl dt {
	word-break: break-all;
	word-wrap: break-word;
	position: relative;
	margin: 0 30px;
	padding: 23px 132px 23px 34px;
	font-size: 14px;
	color: #898989;
	background:
		url(https://assets.kolonmall.com/_ui/img/pc/icn/icn-qustion-2c3085d2bc.png)
		no-repeat 0 23px;
	cursor: pointer;
	line-height: 22px;
}

.qnaForm dl dd {
	word-break: break-all;
	word-wrap: break-word;
	display: none;
	padding: 25px 220px 34px 64px;
	line-height: 24px;
	font-size: 14px;
	color: #898989;
	background: #f8f8f8
		url(https://assets.kolonmall.com/_ui/img/pc/icn/icn-answer-42a200df40.png)
		no-repeat 30px 23px;
}

.qnaForm dl dt:after {
	position: absolute;
	content: "";
	display: inline-block;
	width: 16px;
	height: 9px;
	right: 0;
	top: 29px;
	background:
		url(https://assets.kolonmall.com/_ui/img/pc/icn/icn-arrow-59feb4c198.png)
		0 -9px;
}
/* 1:1 문의 */
.consultForm {
	margin: 40px 0px;
}

.consultQForm {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	overflow: hidden;
}

.consultQForm dd span {
	font-size: 12px;
	padding: 0px 10px;
}

.consultQForm dt {
	width: 100px;
	height: 30px;
	line-height: 30px;
	float: left;
	margin-top: 16px;
	font-size: 0.9em;
}

#consult_type, #question_title, #question_contents, #question_email {
	border: none;
	margin-left: 10px;
	background-color: #fff;
	border: solid #dedede;
	border-width: 0 0 1px;
	height: 38px;
	width: 400px;
}

#question_file {
	border: none;
	margin-left: 10px;
	background-color: #fff;
	height: 38px;
}

#phone01, #phone02, #phone03 {
	border: none;
	margin-left: 10px;
	background-color: #fff;
	border: solid #dedede;
	border-width: 0 0 1px;
	height: 38px;
}

.file-upload-button {
	color: #000;
	border: 1px solid #ccc;
	background-color: #fff;
	font-size: 13px;
	line-height: 30px;
	height: 30px;
	cursor: pointer;
	padding: 5px 25px;
	margin-left: 10px;
}

#question_file {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.consultQForm dd {
	width: 875px;
	min-height: 25px;
	padding: 13px 0px 0px 0px;
	margin: 5px 50px 5px 40px;
}

.consultMemo {
	padding: 30px;
	margin: 10px 300px;
	text-align: left;
	background-color: #e6fbee;
}

.consultMemo li {
	margin: 0px 0px 4px 0px;
}

dd #question_contents {
	height: 130px;
	width: 600px;
	resize: none;
	outline: none;
}

.submitBtn {
	font-size: 14px;
	border: none;
	padding: 10px;
	width: 260px;
	background-color: #56F569;
	margin-bottom: 30px;
	color: #000000;
	cursor: pointer;
}

.etcBtn {
	font-size: 14px;
	border: none;
	padding: 10px;
	width: 260px;
	background-color: #dedede;
	margin-bottom: 30px;
	color: #000000;
	cursor: pointer;
}

/*홀인원보험*/
.holeInOneBtn {
	margin-top: 80px;
	word-break: break-all;
	word-wrap: break-word;
}

.holeInOnePage {
	margin: auto;
	padding: 10px;
}

.holeInOnePage li {
	color: #898989;
	text-align: center;
	padding: 15px;
	margin: 10px 8px;
	width: 400px;
	height: 60px;
	border: 1px solid #898989;
	cursor: pointer;
	align-items: center;
	background: white;
	box-shadow: 3px 2px 3px;
	float: left;
	line-height: 60px;
}

.holeInOnePage a {
	color: black;
	font: bold;
}

.holeInOnePage a:visited {
	color: black;
	font: bold;
}

.holeInOnePage a:hover {
	color: #56F569;
	font: bold;
}

.holeInOnePage a:active {
	color: black;
	font: bold;
}