@charset "UTF-8";

/* font */
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 100;
   src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2)
      format('woff2'),
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff)
      format('woff'),
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf)
      format('opentype');
}

@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 300;
   src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2)
      format('woff2'),
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff)
      format('woff'),
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf)
      format('opentype');
}

@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 400;
   src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2)
      format('woff2'),
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff)
      format('woff'),
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf)
      format('opentype');
}

@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 500;
   src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2)
      format('woff2'),
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff)
      format('woff'),
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf)
      format('opentype');
}

@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 700;
   src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2)
      format('woff2'),
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff)
      format('woff'),
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf)
      format('opentype');
}

@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 900;
   src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2)
      format('woff2'),
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff)
      format('woff'),
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf)
      format('opentype');
}

* {
	font-family: 'Noto Sans KR', sans-serif;
	margin: 0;
	padding: 0;
}

#wrap {
	width: 90%;
	margin: 0 auto;
	top: 250px;
	/* border: 1px solid #ccc; */
	height: 1200px;
	position: relative;
}

#pay_ok_wrap {
	width: 100%;
	height: 12%;
	/* border: 1px solid red; */
}

#pay_ok_wrap #pay_ok {
	width: 8%;
	height: 27%;
	/* border: 1px solid blue; */
	font-size: 1.8em;
	font-weight: bold;
	float: left;
}

#pay_ok_process {
	width: 20%;
	height: 20%;
	/* border: 1px solid blue; */
	float: right;
	font-size: 1.2em;
	text-align: right;
}

#wrapper02 {
	width: 100%;
	height: 35%;
	/* border: 1px solid red; */
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#wrapper02 .wrapper02-01 {
	width: 100%;
	height: 10%;
	/* border: 1px solid black; */
	font-size: 1.5em;
	text-align: center;
	margin-top: 7%;
}

#wrapper02 .wrapper02-02 {
	width: 100%;
	height: 9%;
	/* border: 1px solid black; */
	margin-top: 0.5%;
}

.wrapper02-02 .order-number {
	width: 49.5%;
	height: 100%;
	/* border: 1px solid blue; */
	float: left;
	font-size: 1.3em;
	text-align: right;
	box-sizing: border-box;
}

.wrapper02-02 .order-number2 {
	width: 49.5%;
	height: 100%;
	/* border: 1px solid blue; */
	float: right;
	font-size: 1.3em;
	color: #fb2904;
	text-align: left;
	box-sizing: border-box;
}

.wrapper02-03 {
	width: 100%;
	height: 10%;
	/* border: 1px solid black; */
	margin-top: 1%;
}

.wrapper02-03 .payokmypage {
	border: none;
	background-color: #56F569;
	font-size: 1.2em;
	margin-left: 46.2%;
	padding: 0.3% 1%;
	cursor: pointer;
}

.payokmypage a {
	text-decoration-line : none; 
	color: black;
}

.wrapper02-04 .qna01{
	width: 100%;
	height: 10%;
	/* border: 1px solid red; */
	text-align: center;
	font-size: 1.1em;
	margin-top: 1%;
	color: #808080;
}

.wrapper02-04 .qna02{
	width: 100%;
	height: 10%;
	/* border: 1px solid red; */
	text-align: center;
	font-size: 1.1em;
	color: #808080;
}


#wrapper03 {
	width: 100%;
	height: 45%;
	/* border: 1px solid red; */
	border-bottom: 1px solid black;
	overflow: hidden;
}

.wrapper03-01 {
	width: 100%;
	height: 50%;
	/* border: 1px solid blue; */
	box-sizing: border-box;
}

.wrapper03-01 .payinfotitle{
	width: 100%;
	height: 15%;
	/* border: 1px solid pink; */
	font-size: 1.1em;
	font-weight: bold;
	padding-top: 2%;
}

.wrapper03-01 .payinfobox01{
	width: 30%;
	height: 70%;
	/* border: 1px solid red; */
	float: left;
	box-sizing: border-box;
}

.wrapper03-01 .payinfobox01 .totalPrice {
	width: 100%;
	height: 20%;
	/* border: 1px solid blue; */
	font-size: 1.1em;
	margin-top: 4%;
}

.wrapper03-01 .payinfobox01 .totalPrice02 {
	width: 100%;
	height: 20%;
	/* border: 1px solid blue; */
	font-size: 1.1em;
	margin-top: 2%;
}

.totalPrice02 .totalPrice02-01 {
	width: 20%;
	height: 100%;
	/* border: 1px solid blue; */
	float: left;
	text-align: left;
	color: gray;
}

.totalPrice02 .totalPrice02-02 {
	width: 20%;
	height: 100%;
	/* border: 1px solid blue; */
	float: right;
	text-align: right;
}

.wrapper03-01 .payinfobox02{
	width: 30%;
	height: 70%;
	/* border: 1px solid red; */
	float: left;
	box-sizing: border-box;
	margin-left: 5%;
}

.wrapper03-01 .payinfobox02 .discountInfo {
	width: 100%;
	height: 20%;
	/* border: 1px solid blue; */
	font-size: 1.1em;
	margin-top: 4%;
	
}

.wrapper03-01 .payinfobox02 .discountInfo02 {
	width: 100%;
	height: 20%;
	/* border: 1px solid blue; */
	font-size: 1.1em;
	margin-top: 2%;
}

.discountInfo02 .discountInfo02-01 {
	width: 20%;
	height: 100%;
	/* border: 1px solid blue; */
	float: left;
	text-align: left;
	color: gray;
}

.discountInfo02 .discountInfo02-02 {
	width: 20%;
	height: 100%;
	/* border: 1px solid blue; */
	float: right;
	text-align: right;
}

.wrapper03-01 .payinfobox03{
	width: 30%;
	height: 70%;
	/* border: 1px solid red; */
	float: right;
	box-sizing: border-box;
}

.wrapper03-01 .payinfobox03 .paymentmethod{
	width: 100%;
	height: 20%;
	/* border: 1px solid blue; */
	font-size: 1.1em;
	margin-top: 4%;
}

.wrapper03-01 .payinfobox03 .paymentmethod02 {
	width: 100%;
	height: 20%;
	/* border: 1px solid blue; */
	font-size: 1.1em;
	margin-top: 2%;
}

.paymentmethod02 .paymentmethod02-01 {
	width: 20%;
	height: 100%;
	/* border: 1px solid blue; */
	float: left;
	text-align: left;
	color: gray;
}

.paymentmethod02-02 .cardbrand{
	width: 20%;
	height: 99%;
	/* border: 1px solid blue; */
	float: right;
	text-align: right;
}

.paymentmethod02-02 .paymentPrice{
	width: 20%;
	height: 100%;
	/* border: 1px solid blue; */
	float: right;
	text-align: right;
}

.wrapper03-02 {
	width: 100%;
	height: 25%;
	/* border: 1px solid red; */
	background-color: #f6f6f6;
	box-sizing: border-box;
}

.wrapper03-02 .wrapper03-02-01 {
	width: 40%;
	height: 60%;
	/* border: 1px solid red; */
	float: right;
	text-align: right;
	margin-top: 2%;
}

.wrapper03-02-01 .wrapper03-02-01-01{
	width: 30%;
	height: 100%;
	/* border: 1px solid blue; */
	float: right;
	font-size: 2em;
	font-weight: bold;
	color: red;
}

.wrapper03-02-01 .wrapper03-02-01-02{
	width: 30%;
	height: 100%;
	/* border: 1px solid blue; */
	float: right;
	font-size: 2em;
	font-weight: bold;
}

.wrapper03-03 {
	width: 100%;
	height: 25%;
	/* border: 1px solid red; */
	background-color: #f6f6f6;
	box-sizing: border-box;
}

.wrapper03-03 .mainpagebtn {
	border: none;
	background-color: #56F569;
	font-size: 1.2em;
	margin-left: 46.2%;
	margin-top: 2%;
	padding: 0.3% 1%;
	cursor: pointer;
}

.mainpagebtn a {
	text-decoration-line : none; 
	color: black;
}
