@charset "UTF-8";

.googleloginBtn {
  font-size: 14px;
  border: none;
  padding: 10px 10px 10px 10px;
  width: 260px;
  background-color: #ffffff;
  margin-bottom: 20px;
  color: #000000;
  box-shadow: 0px 1px 1px 0px gray;
	cursor: pointer;
}




/*admin*/
.adminmember{
    align-items: center;

}

.downheader{
	 margin-top: 100px;

}

.loginForm{
    width: 300px;
    background-color: #EEEFF1;
    margin: auto;
    padding: 20px;
    text-align: center;
    border: none;
	vertical-align: middle;
  	   align-items: center;
    justify-content: center;
	
}
 
.textField {
      font-size: 14px;
      padding: 10px;
      border: none;
      width: 260px;
      margin-bottom: 10px;
}
 
.submitBtn {
  font-size: 14px;
  border: none;
  padding: 10px 10px 10px 10px;
  width: 260px;
  background-color: #56F569;
  margin-bottom: 20px;
  color: #000000;
}

